# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# Environment variables
.env

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp